DB_HOST=127.0.0.1
DB_NAME=mvcini
DB_USER=root
DB_PASS=

EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=user@example.com
EMAIL_PASS=secret
EMAIL_FROM_ADDRESS=noreply@example.com
EMAIL_FROM_NAME=MVCini

DEFAULT_LANG=en
APP_SECRET=your_app_secret_here
